.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
}

.logo {
  height: 30vmin;
  pointer-events: none;
}
.welcome-title {
  font-size: 18px;
}
.app-container {
}
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.enable {
  font-size: 16px;
  color: rgb(22, 169, 22);
}
.disable {
  font-size: 16px;
  color: rgb(169, 22, 22);
}
