.drawer-container {
  color: red;
}
.hover-add-btn {
  position: absolute;
  left: 0;
  bottom: 2px;
}
.workshop-handle-row {
  width: 18px !important;
  height: 18px;
  padding: 0;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
